<!DOCTYPE html>
<html lang="en">

<head>

  <!-- <title>Lorial & Paris</title> -->
  <%- include("./partials/head.ejs", {title: "Lorial & Paris" }) %>

    <link rel="stylesheet" href="/styles/Loreal.css" />
    <link rel="stylesheet" href="/styles/dropdown.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" />

    <link rel="stylesheet" href="/styles/Lorial_slideShow_discriptionBox.css" />
    <link rel="icon" href="image/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/styles/header.css" />

    <link rel="stylesheet" href="/styles/navbarbrand.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/cart_slider.css">

</head>

<body>
  <!-- header -->
  <%- include("./partials/header.ejs") %>
    <!-- header -->

    <!--image slider start here -->

    <div id="main">
      <div class="slider">
        <div class="slides">
          <!--radio btn start here -->
          <input type="radio" name="radio-btn" id="radio1" />
          <input type="radio" name="radio-btn" id="radio2" />
          <input type="radio" name="radio-btn" id="radio3" />
          <input type="radio" name="radio-btn" id="radio4" />
          <input type="radio" name="radio-btn" id="radio5" />
          <input type="radio" name="radio-btn" id="radio6" />
          <!--radio btn end here -->

          <!--slide img start here -->
          <div class="slide first">
            <img src="https://images-static.nykaa.com/uploads/388785ca-c9fa-4d0a-8f10-3c5a458526ee.jpg" alt="" />
          </div>

          <div class="slide">
            <img src="https://images-static.nykaa.com/uploads/4b2218f9-bc3c-4fca-92f7-c0f493796685.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="https://images-static.nykaa.com/uploads/d2785153-0083-47e0-bc2d-c6e5130a8a15.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="https://images-static.nykaa.com/uploads/de4a3f3a-df1e-4725-8936-df25c31d02fa.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="https://images-static.nykaa.com/uploads/4b2218f9-bc3c-4fca-92f7-c0f493796685.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="https://images-static.nykaa.com/uploads/388785ca-c9fa-4d0a-8f10-3c5a458526ee.jpg" alt="" />
          </div>
          <!--slide img end here -->

          <!--Automatic navigation start here -->
          <div class="navigation_auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
            <div class="auto-btn4"></div>
            <div class="auto-btn5"></div>
            <div class="auto-btn6"></div>
          </div>
          <!--Automatic navigation end here -->
        </div>

        <!--manual navigation start here -->
        <div class="manual-navigation">
          <label for="radio1" class="manual-btn"></label>
          <label for="radio2" class="manual-btn"></label>
          <label for="radio3" class="manual-btn"></label>
          <label for="radio4" class="manual-btn"></label>
          <label for="radio5" class="manual-btn"></label>
          <label for="radio6" class="manual-btn"></label>
        </div>
        <!--manual navigation end here -->
      </div>
      <!--image slider end here -->


      <!-- advertise image added here -->

      <div id="adv">
        <!-- bg image added in the css -->
      </div>

      <!-- advertise image added here -->

      <h2 id="all_product_h2">ALL PRODUCTS</h2>

      <script src="script/cart_slider.js"></script>
    </div>

    <script src="slider.js"></script>

    <div id="main-cont">
      <div id="left_panel">
        <!--drop down hide and show start------------------------------------------------------------------------>
        <div class="drop-down-menu">
          <li class="drop-down-item" id="item1">
            <a href="#item1" class="drop-down-btn">CATEGORY</a>
            <div class="drop-down-submenu">
              <a href="/products/category/hair">Hair</a>
              <a href="/products/category/skin">Skin</a>
              <a href="/products/category/men">Men's Store</a>
              <a href="/products/category/mekup">Make up</a>
              <a href="#">Personal Care</a>
            </div>
          </li>
          <li class="drop-down-item" id="item2">
            <a href="#item2" class="drop-down-btn">Price</a>
            <div class="drop-down-submenu">
              <a href="/products/price0-499">Rs. 0 - Rs. 499</a>
              <a href="/products/price500-999">Rs. 500 - Rs.999</a>
              <a href="/price1000-5000">Rs.1000 - Rs. 4999</a>

            </div>
          </li>
          <li class="drop-down-item" id="item3">
            <a href="#item3" class="drop-down-btn">Discount</a>
            <div class="drop-down-submenu">
              <a href="#">60% and above</a>
              <a href="#">50% and above</a>
              <a href="#">40% and above</a>
              <a href="#">30% and above</a>
            </div>
          </li>
          <li class="drop-down-item" id="item5">
            <a href="#item5" class="drop-down-btn">AVG Customer Rating</a>
            <div class="drop-down-submenu">
              <a href="#">4 star and above</a>
              <a href="#">3 star and above</a>
              <a href="#">2 star and above</a>
              <a href="#">1 star and above</a>
            </div>
          </li>
          <li class="drop-down-item" id="item4">
            <a href="#item4" class="drop-down-btn">something name</a>
            <div class="drop-down-submenu"></div>
          </li>
        </div>
        <!-- drop down hide and show end-->
      </div>

      <div id="data">
        <% product.forEach( function(element) { %>
          <div>
            <img src=<%=element.image %> alt="">
            <p>
              <%= element.name %>
            </p>
            <p id="price">
              ₹ <%= element.price %>
            </p>
            <p>
              <%= element.rating %>
            </p>
            <button id="addcartbtn" onclick="window.location.href = '/products/<%= element._id %>'">♡Add to Bag</button>
                                   

          </div>
          <% }); %>
      </div>
    </div>

    <script src="../public/script/slider_baner.js"></script>
    <script src="../public/script/homelogin.js"></script>
    <script src="../public/script/Loreal.js"></script>

</body>

</html>